/* Generic CSS(html,body) */

html,
body {
    height: 100%;
}

body {
    color: #212226;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}

section {
    background: #000;
    overflow: hidden;
}

/* preloader loading screen */

#preloader {
    background-color: #000;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

#status {
    background-image: url(../img/preloader/preloader3.gif);
    background-repeat: no-repeat;
    color: white;
    background-color: black;
    height: 70px;
    width: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -35px;
    margin-left: -35px;
}

/*========================HOME  ===================================*/
#home {
    height: 100vh;
}

/*Background image */
#home-image {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background-image: url("../image/Home.png") no repeat;
    background-size: cover;
}



#home-content {
    width: 100%;
    height: 100%;
    display: flex;
    padding-left: 40px;
}

#home-content-inner {
    display: table-cell;
    vertical-align: middle;
}

/*FOR HOME HEADING */
#home-heading h1 {
    color: whitesmoke;
    font-size: 65px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
}


#home-heading h1 span {
    font-size: 38px;
    color: #fff;
    font-weight: 500;
    position: relative;
    top: -20px;

}


/* FOR BUTTON */
.btn-general {
    font-family: "Raleway", sans-serif;
    border-radius: 28px;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0 6px;
    position: relative;
    bottom: 0px;
    padding: 12px 46px 12px 46px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.btn-home {
    color: whitesmoke;
    border: 1px solid #fff;
}

.btn-home:hover,
.btn-home:focus {
    color: white;
    background-color: #20B2AA;
    border: 1px solid #20B2AA;
}




.btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 3px 15px;
    border-radius: 4px;
    font-size: 22px;
    display: none;
    cursor: pointer;
    opacity: 80%;
}

.btn-back-to-top:hover {
    opacity: 100%;
    color: white;
}




/*For arrow down */
#arrow-down {
    position: absolute;
    left: 50%;
    bottom: 20px;
    color: #fff;
    font-size: 32px;
    width: 32px;
    height: 32px;
    text-align: center;
    margin-left: -16px;
    z-index: 1;
}

#arrow-down:hover,
#arrow-down:focus {
    color: #20B2AA;
}





/*=====================ABOUT SECTION ======================= */

/*--------CONTENT BOX ----------- */

.content-box-lg {
    padding: 120px 0;
}

.content-box-md {
    padding: 60px 0;
}

.content-box-sm {
    padding: 90px 0;
}



#about {
    background-color: #262626;
    height: auto;
    margin-bottom: -100px;

}




/*ABOUT RIGHT */
#about-right p {
    margin-bottom: 30px;
    text-align: justify;
}


#about-right .btn-yellow {
    opacity: 80%;
    padding: 0 auto;
}

#about-right .btn-yellow:hover {
    opacity: 100%;
    color: #fff;
}

#about-bottom {
    margin-top: 60px;
}

#about-left img {
    height: 100%;
    width: 100%;
}



/*==============Our Services Part==================*/
#our-services {
    background-color: #000;
}


#our-services .content-box-md {
    padding: 60px 0;

}



.heading-all {
    color: #fff;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
}

.header-text {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.para-text {
    justify-content: center;
    display: inline-block;
    max-width: 70%;
    color: #262626;
}

#our-services .para-text {
    margin-bottom: 40px;
}



.about-item {
    background-color: #262626;
    padding: 30px 50px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}



.about-item i {
    font-size: 42px;
    margin: 0;
    color: white;
}

.about-item h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #fff;
    opacity: 80%;
    text-transform: capitalize;
    font-weight: 600;
}

hr {
    width: 90px;
    height: 3px;
    background-color: #20B2AA;
    margin: 0 auto;
    margin-bottom: 20px;
    border: none;
}

.about-item p {
    margin-top: 20px;
    color: #696969;
}


/* Hover state */

.about-item:hover {
    background-color: rgba(32, 178, 170, 0.8);

}

.about-item:hover i,
.about-item:hover h3,
.about-item:hover p {
    color: #fff;
}

.about-item:hover hr {
    background-color: #fff;
}

.about-item:hover i {
    transform: translateY(-20px);
}


/* Smooth transition */

.about-item,
.about-item i,
.about-item hr {
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}

.about-item h3,
.about-item p {
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}



/*================||||||Navigation bar ||||||||||=========== */
.navbar {
    padding: 35px 0 20px 0;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

.site-nav-wrapper {
    padding: 0 85px;
}

.navbar-brand {
    padding: 13px 15px;
}

ul.navbar-nav>li>a {
    font-family: "Raleway", sans-serif;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1px;
}


ul.navbar-nav>li.active>a {
    color: #20B2AA;
    text-decoration: none;
    background: none;
}

ul.navbar-nav>li>a:focus {
    color: white;
    background: none;
}

ul.navbar-nav>li>a:hover,
ul.navbar-nav>li>a:active {
    background: none;
    color: #20B2AA;

}

/* White navigation */
.white-nav-top {
    background: #000;
    padding: 10px 0;
    -webkit-box-shadow: 0 8px 6px -9px #999;
    box-shadow: 0 8px 6px -9px #999;
    z-index: 2;
}

.white-nav-top ul.navbar-nav>li>a {
    color: #fff;
}




.white-nav-top ul.navbar-nav>li>a:hover,
.white-nav-top ul.navbar-nav>li>a:active {
    color: #20B2AA;
}


/*scroll spy active */
.white-nav-top ul.navbar-nav>li.active>a {
    color: #20B2AA;
    font-weight: 500;
}


.navbar-left {
    font-size: 28px;
    font-weight: bold;
    color: white;
}


/* Animation */
#home-heading-1,
#home-btn,
#arrow-down i {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

#home-heading-1 {
    -webkit-animation-delay: 1.3s;
    animation-delay: 1.3s;
}

#home-btn {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

#arrow-down i {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}


ul.contact-details {
    list-style: none;
    padding: 0;
}

ul.contact-details li {
    font-family: "Open Sans", sans-serif;
    margin-top: 12px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

ul.contact-details li i {
    font-size: 20px;
    width: 45px;
}

#contact-left ul.social-list li a {
    color: #212226;
    border: 1px solid #212226;
    text-align: center;
}

#contact-left ul.social-list li a:hover {
    color: #fff;
    border-color: transparent;
}


/* Contact Right */

#contact-right {
    padding: 25px 30px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    min-width: 500px;
}



#contact-right h4 {
    font-size: 24px;
}

#contact-right p {
    margin-bottom: 25px;

}

#contact-right form .form-control {
    font-family: "Open Sans", sans-serif;
    padding: 10px 15px;
    font-size: 12px;
    line-height: 24px;
    background-color: #262626;
    border: none;

}




#contact-right form textarea.form-control {
    min-height: 164px;
}


ul.social-list {
    padding: 0;
    margin-top: 20px;

}

ul.social-list li {
    display: inline-block;
    padding: 0;
    text-align: center;
}



ul.social-list li a {
    border: 1px solid #fff;
    width: 45px;
    height: 45px;
    display: inline-block;
    line-height: 40px;
    color: #fff;
    border-radius: 50%;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}

ul.social-list li:nth-child(1) a:hover {
    background: #3b5998;
    border-color: transparent;
}


ul.social-list li:nth-child(2) a:hover {
    background: #dd4b39;
    border-color: transparent;
}




.btn-yellow {
    color: #fff;
    border: 1px solid #20B2AA;
    background-color: #20B2AA;
}

footer {
    background: #212226;

}


footer p {
    color: #fff;
    line-height: 60px;
}

footer p span {
    color: #20B2AA;
}








/* Mobile menu */
.navbar-header {
    position: relative;
}

#mobile-nav-open-btn {
    font-size: 30px;
    color: #20B2AA;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    right: 0;
    top: 6px;
    display: none;
}

#mobile-nav {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: #696969;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    overflow-y: hidden;
}

#mobile-nav-close-btn {
    font-family: "Raleway", sans-serif;
    font-size: 70px;
    color: #212226;
    font-weight: 400;
    cursor: pointer;
    position: absolute;
    top: -9px;
    right: 13px;
    -webkit-transition: .3s;
    transition: .3s;
}

#mobile-nav-content {
    text-align: center;
    width: 100%;
    margin-top: 30px;
    position: relative;
    top: 10%;
}

#mobile-nav ul li {
    margin-bottom: 20px;
}

#mobile-nav a {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    color: #212226;
    font-weight: 400;
    text-transform: uppercase;
    display: inline;
    -webkit-transition: .3s;
    transition: .3s;
}

/*mobile nav hover effect*/

#mobile-nav a:hover,
#mobile-nav a:focus,
#mobile-nav-close-btn:hover,
#mobile-nav-close-btn:focus {
    color: #20B2AA;
    background: none;
}

/*scroll spy active */
.white-nav-top #mobile-nav ul.nav>li.active>a {
    color: #20B2AA;
    font-weight: 500;
}





.contacticon-wrapper {
    margin-top: 30px;
    margin-bottom: -30px;
}

.contactbox i {
    font-size: 40px;
    height: 90px;
    width: 90px;
    background-color: #20B2AA;
    border-radius: 50%;
    text-align: center;
    line-height: 2;
}

.contactbox h4 {
    font-size: 22px;
    line-height: 1.5;
    color: #fff;
}

.contactbox h5 {
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 1.5;
}




#about-right {
    color: white;
}

#about-right h2 {
    font-size: 40px;
    font-weight: bold;
}

#about-right {
    margin-top: -20px;
}

#about-right p {
    color: #696969;
}

#about-right h3 {
    font-size: 30px;
    margin-bottom: 20px;
}

#about-right h3>span {
    color: #20B2AA;
    text-transform: capitalize;
}

#about-right h2,
h3,
p {
    line-height: 1.5;
}

#about-left img {
    transform: translateY(-60px);
    height: 500px;
    width: 400px;
}





/*====================Portfolio *==========================*/
#portfolio .content-box-md {
    padding: 50px 0;
}



.portfolio-item {
    overflow: hidden;
    position: relative;

}

#portfolio-wrapper {
    background: none;
}

#portfolio-heading p {
    color: #696969;
}


/* Filters CSS */

#isotope-filters {
    margin-bottom: 10px;
    padding: 20px 25px 20px 0;
}

#isotope-filters button {
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-right: 35px;
    outline: 0;
    color: #696969;
}

#isotope-filters button span {
    display: block;
    padding-bottom: 5px;
    -webkit-transition: border-color .4s ease-in-out;
    transition: border-color .4s ease-in-out;
}

#isotope-filters button.active span {
    color: #fff;
    background-color: #20B2AA;
    border: none;
    border-radius: 20px;
    padding: 6px 15px;
}


/* Zoom Effect */

.portfolio-item img {
    width: 100%;
    height: auto;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
    margin-bottom: 20px;
}

.portfolio-item:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


/* Overlay Effect */

.portfolio-item-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(14, 14, 17, 0.9);
    cursor: -webkit-zoom-in;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


/* Item Details Effect */

.portfolio-item-details {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.portfolio-item-details h3 {
    color: #20B2AA;
    text-transform: uppercase;
    font-size: 30px;
    margin: 0;
    padding: 0;
    -webkit-transform: translateY(-20%);
    transform: translateY(-20%);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.portfolio-text {
    margin: 20px 0 30px 0;
}

#portfolio {
    background-color: #262626;
    height: auto;
}

.portfolio-item-details span {
    display: inline-block;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    height: 6px;
    width: 30px;
    margin: 11px auto 5px auto;
}

.portfolio-item-details p {
    font-size: 17px;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    -webkit-transform: translateY(20%);
    transform: translateY(20%);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}


/* Show Overlay on mouse over */

.portfolio-item:hover .portfolio-item-details h3 {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.portfolio-item:hover .portfolio-item-details p {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.portfolio-item:hover .portfolio-item-overlay {
    opacity: 1;
}




/*========== Testimonial ====================> */

#testimonial {
    color: #262626;
    padding: 28px;



}

.stars i {
    color: #20B2AA;
    margin-bottom: 20px;
}


.client-name p {
    color: #fff;
}

#testimonial-slider {
    margin-top: 40px;

}


.testimonials {
    padding: 20px 45px 0 45px;

}

.testimonials h3 {
    font-size: 32px;
    line-height: 35px;
}

.testimonials p {
    line-height: 1.8;
    margin: 0;
    margin-bottom: 15px;
    font-family: 'Raleway', sans-serif;

}


.owl-theme .owl-nav [class*=owl-] {
    color: #212226;
    font-size: 50px;
    background: none;
    margin: 0;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
    color: #20B2AA;
}


.owl-dots .owl-dot.active span {
    background: #20B2AA !important;
    transform: scale(1.8);
}

.owl-dots .owl-dot span {
    transform: scale(1.3);
}


.client .row {
    margin-top: 20px;
}